body {
    background-color: #333;
}

.raw p {
    margin: 0px;
}

.timeline {
    ime-mode: inactive;
}

.window {
    display: none;
    background-color: #222;
    position: absolute;
    padding: 3px;
    top: 3vh;
    right: 5vw;
    margin: auto;
    color: #bbb;
    border-radius: 5px;
    border: 1px solid #353535;
    font-size: 12px;
    max-width: 90vw;
    max-height: 94vh;
    overflow-y: auto;
    overflow-x: none;
}
.toot {
    width: 21em;
    height: auto;
    ime-mode:active;
    overflow: none;
}
.toot textarea,select,button,input{
    display: block;
    margin: 2px;
    background-color: #000;
    color: inherit;
    border-radius: inherit;
    border: inherit;
    font-size: inherit;
}

.toot textarea {
    width: calc(100% - 10px);
    height: 5em;
    line-height: 1.2em;
    resize: none;
}

.toot input {
    width: calc(100% - 10px);
}

.toot select {
    float: left;
    height: 1.5em;
}

#toot_size {
    float: left;
}

.reply {
    display: none;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid #353535;
}

.reply_head {
    background-color: #111;
}
.reply_close {
    width: 1.5em;
    text-align: center;
    float: right;
    margin-left: auto;
    background-color: #333;
}

.window button {
    margin-left: auto;
    height: 1.5em;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
}

.help h1 {
    margin: 2em 0em 1em 0em;
    text-decoration: underline;
}
.help h2 {
    margin: 2em 0em 1em 0em;
}
.help h3 {
    margin: 2em 0em 1em 0em;
}
.help p {
    margin-left: 2em;
    margin-right: 2em;
}
.help .cmdline {
    font-family: monospace;
    padding: 5px;
    background-color: #000;
    border-radius: 3px;
    border: 1px solid #666;
}
.help a {
    color: #0F60FF;
}
.help a:hover {
    color: red;
}

.status {
    width: 100%;
    padding: 0em 0.5em 1em 0.5em;
    margin: 0px
}

.status td {
    padding-bottom: 1em;
    border: none;
    margin-left: 0px;
}

.status:hover {
    background-color: #252525;
}
.status:hover *{
    background-color: inherit;
}

.status:active {
    padding: 0.1em 0.4em 0.9em 0.6em;
    background-color: #333;
}

.status_deleted *{
    text-decoration: line-through;
}

.status_avatar {
    width: 3em;
    height: auto;
    margin-right: 0.7em;
    text-align: center;
    float: left;
}

.status_avatar img {
    width: 3em;
    height: 3em;
}

td.status_main{
    width: 100%;
    text-align: left;
    vertical-align: top;
}

