body {
    background-color: #333;
}

.raw p {
    margin: 0px;
}

.a_acct {
    color: #aaa !important;
    text-decoration: none;
}

.a_acct:hover {
    color: #fff !important;
    text-decoration: underline;
}

.timeline {
    ime-mode: inactive;
}

.window {
    display: none;
    background-color: #222;
    position: absolute;
    padding: 3px;
    top: 3vh;
    right: 5vw;
    margin: auto;
    color: #bbb;
    border-radius: 5px;
    border: 1px solid #353535;
    font-size: 12px;
    max-width: 90vw;
    max-height: 94vh;
    overflow-y: auto;
    overflow-x: none;
}
.toot {
    width: 21em;
    height: auto;
    ime-mode:active;
    overflow: none;
}
.toot textarea,select,button,input{
    font-family: monospace;
    display: block;
    margin: 2px;
    background-color: #000;
    color: inherit;
    border-radius: inherit;
    border: inherit;
    font-size: inherit;
}

.toot textarea {
    width: calc(100% - 10px);
    height: 5em;
    line-height: 1.2em;
    resize: none;
}

.toot input {
    width: calc(100% - 10px);
}

.toot select {
    float: left;
    height: 1.5em;
}

.toot_media {
    clear: both;
    display: none;
}

.toot_media input:checked + label:before {
    content: '✔ ';
}

.toot_media input + label:before {
    content: '✖ ';
}

.toot_media label {
    padding: 3px 5px;
}

.toot_media input{
    display: none;
}

.toot_media img{
    width: 10em;
    height: 4em;
    border: solid 1px #333;
    object-fit: cover;
}

.toot_imghover {
    background: #666 !important;
    content: "Drop Files...";
    border: 5px dashed #222;
    color: #000;
}

#toot_size {
    float: left;
}

.reply {
    display: none;
    margin: 2px;
    border-radius: 5px;
    border: 1px solid #353535;
}

.reply_head {
    background-color: #111;
}
.reply_close {
    width: 1.5em;
    text-align: center;
    float: right;
    margin-left: auto;
    background-color: #333;
}

.window button {
    margin-left: auto;
    height: 1.5em;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
}

.help h1 {
    margin: 2em 0em 1em 0em;
    text-decoration: underline;
}
.help h2 {
    margin: 2em 0em 1em 0em;
}
.help h3 {
    margin: 2em 0em 1em 0em;
}
.help p {
    margin-left: 2em;
    margin-right: 2em;
}
.help .cmdline {
    font-family: monospace;
    padding: 5px;
    background-color: #000;
    border-radius: 3px;
    border: 1px solid #666;
}
.help a {
    color: #0F60FF;
}
.help a:hover {
    color: red;
}

.status {
    display: table !important;
    table-layout: fixed;
    width: 100%;
    margin: 0px
}

.status_cell {
    border: none;
    width: 100%;
    margin-left: 0px;
}

.status:hover {
    background-color: #252525;
}

.status:hover *{
    background-color: inherit;
}

.status:active {
    margin: 0px 0px 0px 1px;
    background-color: #333;
}

.status_avatar {
    display: none;
    width: 3em;
    height: auto;
    margin-right: 0.7em;
    text-align: center;
}

.status_avatar img {
    width: 3em;
    height: 3em;
}

.status_mouseover .avatar_static{
    display: none;
}

.status_mouseover .avatar_animate{
    display: none;
}

.status_mouseover:hover .avatar_animate{
    display: inline;
}

.status_mouseover .status_avatar{
    display: table-cell !important;
}

.status_animation .avatar_static{
    display: none;
}

.status_animation .avatar_animate{
    display: inline;
}

.status_animation .status_avatar{
    display: table-cell !important;
}

.status_standard .avatar_static{
    display: inline;
}

.status_standard .avatar_animate{
    display: none;
}

.status_standard:hover .avatar_static{
    display: none;
}

.status_standard:hover .avatar_animate{
    display: inline;
}

.status_standard .status_avatar{
    display: table-cell !important;
}

.status_main{
    display: table-cell !important;
    width: 100%;
    padding: 0px 0.5em;
    text-align: left;
    vertical-align: top;
}

.status_red *{
    background-color: #302222;
}

.status_green *{
    background-color: #223022;
}

.status_blue *{
    background-color: #222230;
}

.status_yellow *{
    background-color: #303022;
}

.status_purple *{
    background-color: #302230;
}

.status_cyan *{
    background-color: #223030;
}

.status_dark-red *{
    background-color: #201111;
}

.status_dark-green *{
    background-color: #112011;
}

.status_dark-blue *{
    background-color: #111120;
}

.status_dark-yellow *{
    background-color: #202011;
}

.status_dark-purple *{
    background-color: #201120;
}

.status_dark-cyan *{
    background-color: #112020;
}

.status_deleted *{
    text-decoration: line-through;
}

.status_contents img {
    width: 5em;
    height: 3em;
    margin: 0 2px;
    border: solid 1px #333;
    object-fit: cover;
}

.status_contents p {
    padding-bottom: 1em;
}

.status_contents>p>span {
    width: 100%;
    word-break: keep-all;
    word-wrap: break-word;
}

.status_contents a {
    word-break: break-all;
}

.status_notify {
    color: goldenrod !important;
}

.status_notify * {
    color: goldenrod !important;
}

.status_card img {
    max-width: 3em;
    max-height: 3em;
    float: left;
}

.status_enquete span{
    border-radius: 5px;
    border: 1px solid #353535;
    font-family: monospace;
    display: inline-block;
    margin: 0 0.5em 0 0;
    width: 15em;
    height: 1.5em;
    padding: 0 0.5em;
    vertical-align: middle;
}

.status_enquete span:hover {
    background-color: #113;
}

.status_enquete span:active {
    background-color: #101025;
}

.status_enquete_result>span {
    margin: 0 0.5em 0 0;
    width: 16em;
    border-radius: 5px;
    border: 1px solid #353535;
    position: relative;
    padding: 1px;
}

.status_enquete_result .progress{
    vertical-align: middle;
    position: absolute;
    height: 1.5em;
    padding: 0 0.5em;
}

.status_enquete_result .proceed{
    border-radius: 5px;
    background-color: #225 !important;
    height: 1.5em;
}

.status_enquete_result>span .item{
    display: inline;
}

.status_enquete_result>span .ratio{
    display: none !important;
}

.status_enquete_result>span:hover .item{
    display: none;
}

.status_enquete_result>span:hover .ratio{
    display: inline !important;
}

.img_background {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    margin: 0;
    padding: 0;
}

.media_view {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    opacity: 1;
    max-width: 90vw;
    max-height: 94vh;
}
