.emoji {
    margin-top: -2px;
    height: calc(1em + 2px);
    width: calc(1em + 2px);
    display: inline;
    vertical-align: middle;
    object-fit: contain;
}
div.emoji_picker {
    display: inline-block !important;
    width: 2em;
    margin: 0px;
    padding: 3px;
    &>:hover {
        background-color: #252525;
    }
    img {
        height: 2em;
        max-width: 2em;
    }
    span {
        display: none !important;
    }
}
.emoji_summary {
    &:hover {
        background-color: #252525;
    }
    img {
        height: calc(1em + 2px);
        margin: 0px 0.5em;
    }
}
