.window {
    display: none;
    background-color: #222;
    position: absolute;
    padding: 3px;
    top: 3vh;
    right: 5vw;
    left: 5vw;
    margin-left: auto;
    color: #bbb;
    border-radius: 5px;
    border: 1px solid #353535;
    font-size: 12px;
    max-width: 90vw;
    max-height: 94vh;
    overflow-y: auto;
    overflow-x: none;
}
.toot {
    max-width: 20em;
    min-width: 150px;
    height: auto;
    ime-mode: active;
    overflow: none;
    font-family: monospace;

    textarea, select, button, input{
        font-family: monospace;
        box-sizing: border-box;
        margin: 0px;
        background-color: #000;
        color: inherit;
        border-radius: inherit;
        border: 1px solid #353535;
        font-size: inherit;
        padding: 2px 6px;
    }
    .commands {
        vertical-align: middle;
    }
    textarea {
        height: 5em;
        line-height: 1.2em;
        resize: none;
    }
    textarea, input[type="text"] {
        width: 100%;
        margin-bottom: 2px;
        display: block;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &::-ms-expand {
            display: none;
        }
    }
    button {
        float: right;
        &:hover {
            color: #eee;
        }
    }
}

.toot_media {
    clear: both;
    display: none;
}

.nsfw {
    display: inline-block;
    &>input {
        display: none;
    }
    &:hover {
        color: #eee;
    }
    input:checked + label:before {
        content: '✔ ';
    }
    input + label:before {
        content: '✖ ';
    }
    label {
        padding: 3px 3px 3px 8px;
    }
}

.toot_media input{
    display: none;
}

.toot_media img{
    width: 10em;
    height: 4em;
    border: solid 1px #333;
    object-fit: cover;
}

.toot_imghover {
    background: #666 !important;
    content: "Drop Files...";
    border: 5px dashed #222;
    color: #000;
}

#toot_size {
    display: inline-block;
}

#emoji_picker {
    margin: 3px 0px 0px 0px;
    #toot_emoji_keyword {
        float: right;
        width: inherit;
        margin: 0px;
    }

    #toot_emoji_list {
        display: none;
        max-height: 10em;
        overflow-y: auto;
        overflow-x: none;
        background-color: #000;
        border: solid 1px #333;
        margin: 3px 0px 0px 0px;
        padding: 2px;

        li {
            display: inline-block;
            list-style: none;
            padding: 3px;

            .emoji {
                font-size: 1.5em;
            }

            &:hover {
                background-color: #999;
            }
        }
    }
}

.reply {
    display: none;
    width: 100%;
    margin: 0px;
    margin-bottom: 2px;
    border-radius: 5px;
    overflow: hidden;

    .reply_head, .reply_body {
        background-color: #111;
        padding: 2px 6px;
        border: 1px solid #353535;
    }

    .reply_head {
        border-radius: inherit inherit 0 0;
    }

    .reply_body {
        border-radius: 0 0 inherit inherit;
        max-height: 4em;
        overflow-x: none;
        overflow-y: auto;
    }

    .reply_close {
        width: 1.5em;
        height: 1.5em;
        text-align: center;
        float: right;
        margin-left: auto;
        background-color: #333;

    }

}
